# Ignore application logs
app.log
app/log

# Ignore Node.js modules and lock files
node_modules/
package-lock.json

# Ignore test files
test.txt

# Ignore log files
namelogs.json
genlogs.json
streamlogs.json
formatted_streamlogs.txt

# Ignore misspelled files
neeeke.txt
misspellings.txt

# Ignore obfuscated JavaScript file
obfuscated.js

# Ignore data files
pokemonDB.p

