
node_modules/

package-lock\.json

test\.txt

neeeke\.txt

namelogs\.json

genlogs\.json
streamlogs\.json
.namelogs.json

.genlogs.json
.streamlogs.json
pokemonDB\.p

misspellings\.txt
