.atype {
color: #COLOR1;
}
.limetype {
background: #COLOR1 !important;
color: #fff !important;
}
.limelighttype {
background: #COLOR2;
color: #000;
border-color: #COLOR1 !important;
}
.outlinetype {
outline-color: #COLOR1;}
.topedgetype {
border-top-color: #COLOR1;
}
.input-twitchtype {
border-color: #COLOR1;
}
.input-twitchtype:disabled {
background-color: #COLOR1;
}
.hovgtype {
background-color: #COLOR1;
}
.hovrtype {
background-color: #COLOR1;
}
.smolbuttontype {
background-color: #fff;
border-color: #COLOR1;
color: #COLOR1;
}
.smolbuttonSwaptype {
background-color: #COLOR1;
border-color: #COLOR1;
}
.smolbuttontype:hover {
background-color: #COLOR3;
border-color: #COLOR3;
color: #fff;
}
.smolbuttonxtype {
background-color: #COLOR1;
color: #fff;
}
.ppbuttontype {
border-color: #COLOR3;
background-color: #COLOR3;
color: #fff;
}
.ppbuttontype:hover {
background-color: #COLOR1;
border-color: #COLOR1;
color: #fff;
}   
.inlineboxtype {
background-color: #COLOR5;
}
.smolbuttonxdarktype {
color: #111;
background-color: #COLOR1;
}
.buttondarktype {
border-color: #COLOR1;
}
.limelightdarktype {
border-color: #COLOR4;
border-bottom-color: #COLOR4;
}
.inlineboxdarktype {
background-color: #COLOR1;
}