.atype {
color: #8CC63F;
}
.limetype {
background: #8CC63F !important;
color: #fff !important;
}
.limelighttype {
background: #BEE08F;
color: #000;
border-color: #8CC63F !important;
}
.outlinetype {
outline-color: #8CC63F;}
.topedgetype {
border-top-color: #8CC63F;
}
.input-twitchtype {
border-color: #8CC63F;
}
.input-twitchtype:disabled {
background-color: #8CC63F;
}
.hovgtype {
background-color: #8CC63F;
}
.hovrtype {
background-color: #8CC63F;
}
.hovlitype {
background-color: #a7d567;
}
.hovlitype:hover {
background-color: #8CC63F;
}
.smolbuttontype {
background-color: #fff;
border-color: #8CC63F;
color: #8CC63F;
}
.smolbuttonSwaptype {
background-color: #8CC63F;
border-color: #8CC63F;
}
.smolbuttontype:hover {
background-color: #7eb238;
border-color: #7eb238;
color: #fff;
}
.smolbuttonxtype {
background-color: #8CC63F;
color: #fff;
}
.ppbuttontype {
border-color: #7eb238;
background-color: #7eb238;
color: #fff;
}
.ppbuttontype:hover {
background-color: #8CC63F;
border-color: #8CC63F;
color: #fff;
}   
.inlineboxtype {
background-color: #deefc7;
}
.smolbuttonxdarktype {
color: #111;
background-color: #8CC63F;
}
.buttondarktype {
border-color: #8CC63F;
}
.limelightdarktype {
border-color: #639422;
border-bottom-color: #639422;
}
.inlineboxdarktype {
background-color: #8CC63F;
}