  
	html {
	min-height: 100%;
	}
	body {
	/*background-image: linear-gradient(146deg, rgba(240,240,240,1), rgba(210,210,210,1));*/
	background-image: url(/images/background-50.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	background-attachment: fixed;
	font-family: "Roboto";
    font-size: 16px;
	color: #333;
	padding-top: 60px;
	margin-bottom: 0;
	min-height: 100% 100%;
	}
	h1 {
	font-size: 30px;
	font-weight: bold;
	}
	h2 {
	font-size: 23px;
	line-height: 40px;
	font-weight: regular;
	}
	p {
	font-size: 1em;
	margin-block-start: 0em;
    margin-block-end: 0em;
	}
	pp {
	font-size: 0.7em;
	}
	ppp {
	line-height: 30px;
	}
	a {
	text-decoration: none;
	color: #8CC63F;
	}
	#counter,#total,#timer,#gen-name,#timer-score,#currentcount{
		display:inline;
	}
    .box {
	border: 5px white;
	margin: 10px 0px 0px 10px;
	padding: 11px 10px 10px 10px;
	background: rgba(255, 255, 255, 0.85);
	min-height: 30px;
	line-height: 30px;
	}
	.bigbox {
	border: 20px;
	padding: 50px;
	border-radius: 10px 40px;
	}
	.rounded {
	border-radius: 20px;
	}
	.roundedb {
	border-radius: 4px 20px;
	}
	.roundedc {
	border-radius: 4px;
	}
	.roundedd {
	border-radius: 4px 4px 0px 0px;
	}
	.lime {
	background: #8CC63F;
	color: #fff;
	}
	.dark {
	background: #444;
	color: #fff;
	}
	.grey {
	background: #999;
	color: #fff;
	}
	.red {
	background: #D00;
	color: #fff;
	}
	.whiteedge {
	background-color: rgb(255,255,255,0.2);
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid white;
	}
	.highlight {
	font-weight: bold;
	color: #333;
	}
	.padded {
	padding-left: 20px;
	padding-right: 20px;
	}
	.padded-left {
	padding-left: 20px;
	}
	.padded-tb {
	padding-top: 40px;
	padding-bottom: 40px;
	}
	.centeredbox {
	margin: 0 auto;
	max-width: 1474px;
	overflow-x: hidden;
	}
	input[type=text] {
	padding: 2px;
	margin-left: 5px;
	margin-right: -5px;
	box-sizing: border-box;
	border: 2px solid #444;
	border-radius: 4px 10px 4px 4px;
	font-family: "Roboto";
    font-size: 16px;
	color: #333;
	width: 174px;
	}
	input[type=text]:focus {
	outline: none;
	border: 2px solid #444;
	background-color: #EEE;
	}
	.attentionshake {
	animation: shake 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
	}
	@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
	}
	.centered {
	margin: 0 auto;
	}
	.sprite {
	margin: -36px -20px -10px;
	}
	.spritew {
	margin: -24px -15px -3px;
	}
	@keyframes zoomExample {
		from {transform: matrix(2,0,0,2,0,-10);}
		to {transform:matrix(1,0,0,1,0,0);}
	}
	
	 @keyframes revealZoom {
		from {transform: matrix(2,0,0,2,0,0);}
		to {transform:matrix(1,0,0,1,0,0);}
	}
	.revealed {
	filter: brightness(35%);
	animation-name: revealZoom;
	animation-duration:750ms;
	}
	.zoom {
	animation-name: zoomExample;
	animation-duration:1500ms;
	}
	.recentsprite {
	margin: -40px -10px -10px -5px;
	}
	.column {
	float: left;
	}
	.eighth {
	width: 12.5%;
	}
	.sixth {
	width: 16.66%;
	}
	.quarter {
	width: 25%;
	}
	.half {
	width: 50%;
	}
	.half-fixed {
	width: 480px;	
	}
	.fiveeighth {
	width:54%
	}
	.smol {
	width: 175px;
	}
	.decent {
	width: 235px;
	}
	.wider {
	min-width: 240px;
	}
	.namelist {
	width: 183px;
	}
	.full {
	width: 100%;
	}
	/* Clear floats after the columns */
	.row:after {
	content: "";
	display: table;
	clear: both;
	}
	.row {
	margin-right: 10px;
	}
	.bottommargin {
	margin-bottom: 10px;
	}
	.header {
	position: fixed;
	top: 0px;
	}
	.footer {
	bottom: 0px;
	position: relative;
	width: 100%
	}
	.marr {
	margin-right: 10px;
	}
	.button {
	background-color: #777;
	border: #444;
	color: white;
	padding: 10px 10px 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 0px 0px 10px;
	cursor: pointer;
	min-width: 100px;
	min-height: 30px;
	line-height: 30px;
	font-family: "Roboto";
    font-size: 16px;
	}
	.button:hover {
	background-color: #D00;
	}
	.hovg {
	background-color: #8CC63F;
	}
	.hovg:hover {
	background-color: #777;
	}
	.hovr {
	background-color: #8CC63F;
	}
	.hovr:hover {
	background-color: #D00;
	}
	.hovl {
	background-color: #777;
	}
	.hovl:hover {
	background-color: #bbb;
	}
	.button:focus {
	outline: none;
	}
	.smolbutton {
	background-color: #fff;
	border: solid #8CC63F 2px;
	border-radius: 5px;
	color: #8CC63F;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	display: inline;
	margin: 0px 0px 0px 5px;
	padding: 3px 5px 3px 5px;
	cursor: pointer;
	font-family: "Roboto";
    font-size: 16px;
	}
	.smolbutton:hover {
	background-color: #8CC63F;
	color: #fff;
	}
	.smolbuttonx {
	background-color: #8CC63F;
	color: #fff;
	}
	.radio-item {
	display: inline-block;
	position: relative;
	margin-right: 8px;
	}
	.first {
	margin-left: 8px;
	}
	.last {
	margin-right: 0px;
	}
	.right {
	float:right;
	display: inline-block;
	}
	.radio-item input[type='radio'] {
	display: none;
	}
	.blocked {
	opacity: 0.3;
	}
	.radio-item label:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: 3px;
	margin-right: 0px;
	margin-left: 0px;
	width: 14px;
	height: 14px;
	border-radius: 5px;
	border: 2px solid #8CC63F;
	background-color: transparent;
	cursor: pointer;
	}
	.radio-item input[type=radio]:checked + label:after {
	border-radius: 3px;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 9px;
	left: 4px;
	content: " ";
	display: block;
	background: #8CC63F;
	cursor: pointer;
	}
	.bar {
	background-color: #fff;
	display: inline-block;
	width: 122px;
	margin-left: 5px;
	margin-right: -5px;
	border: 2px solid #444;
	border-radius: 4px 4px 4px 4px;
	}
	.load {
	background-color: #444;
	height: 10px;
	width: 1px;
	}
	.bar2 {
	background-color: #fff;
	display: inline-block;
	width: 40%;
	margin: 0 auto 10px;
	border: 2px solid #444;
	border-radius: 4px;
	}
	.load2 {
	background-color: #8CC63F;
	height: 20px;
	width: 1px;
	}
	.loader {
	display: block;
	}
	.play {
	display: none;
	}
	.playtext {
	opacity: 0;
	}
	.hidden {
	display: none;
	}
	.overlay {
	position: fixed;
	display:none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 4;
	cursor: pointer;
	}
	.tooltip {
	position: relative;
	display: inline-block;
	}
	.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	padding: 10px 15px;
	text-align: center;
	background-color: #444;
	color: #fff;
	border-radius: 4px;
	position: absolute;
	z-index: 3;
	bottom: 100%;
	left: 50%;
	margin-left: -70px;
	}
	.tooltip:hover .tooltiptext {
	visibility: visible;
	}
	.prompt {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #fff;
	transform: translate(-50%,-70%);
	-ms-transform: translate(-50%,-70%);
	}
	.logo {
	display: block;
	width: 100%;
	}
	.logosq {
	display: none;
	width: 100%;
	}
	@media only screen and (max-width: 1280px) {
		.logo {
	display: none;
	width: 100%;
	}
	.logosq {
	display: block;
	width: 100%;
	}
	}
	@media only screen and (max-width: 768px) {
	.quarter, .sixth, .eighth, .half, .half-fixed, .fiveeighth{
    width: 100%;
	}
	}
	@media only screen and (max-width: 918px) {
	body {
	padding-top: 121px;
	}
	}
	@media only screen and (max-width: 536px) {
	body {
	padding-top: 182px;
	}
	}
	@media only screen and (max-width: 376px) {
	body {
	padding-top: 213px;
	}	
	}
	@media only screen and (max-width: 290px) {
	body {
	padding-top: 273px;
	}
	}
	.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}